<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Project1 - 마켓컬리</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href=""/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
            crossorigin="anonymous" defer></script>
</head>
<body>
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Navbar-->
            <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                <div class="container px-5">
                    <a class="navbar-brand text-dark" href="/index">PortFolio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto me-lg-5">
                            <li class="nav-item"><a class="nav-link" href="/index">메인페이지</a></li>
                            <li class="nav-item dropdown dropdown-xl no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#introduction" >
                                    소개
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown dropdown-xl no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#project">
                                    프로젝트
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>

                            </li>
                            <li class="nav-item dropdown no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    다른 프로젝트
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                     aria-labelledby="navbarDropdownDocs">
                                    <a class="dropdown-item py-3"
                                       href="/project1">
                                        <div class="icon-stack bg-primary-soft text-primary me-4"><i
                                                data-feather="shopping-cart"></i></div>
                                        <div>
                                            <div class="small text-gray-500">Project1</div>
                                            마켓컬리
                                        </div>
                                    </a>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item py-3"
                                       href="/project2-3">
                                        <div class="icon-stack bg-primary-soft text-primary me-4"><i
                                                data-feather="users"></i></div>
                                        <div>
                                            <div class="small text-gray-500">Project2-3</div>
                                            프리랜서 / 업체 연결 에이전시
                                        </div>
                                    </a>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item py-3"
                                       href="/movingMate">
                                        <div class="icon-stack bg-primary-soft text-primary me-4"><i
                                                data-feather="box"></i></div>
                                        <div>
                                            <div class="small text-gray-500">MovingMate</div>
                                            이삿짐 센터 프로젝트
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <a class="btn fw-500 ms-lg-4 btn-teal" href="https://github.com/yyy2724/project1">
                            프로젝트 주소
                            <i class="ms-2" data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Page Header-->
            <header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-60"
                    style="background-image: url('/assets/img/project/pro.jpg')">
                <div class="page-header-ui-content position-relative">
                    <div class="container px-5 text-center">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8">
                                <h1 class="page-header-ui-title mb-3">Project1</h1>
                                <p class="page-header-ui-text mb-0">마켓컬리 홈쇼핑</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-light">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                         fill="currentColor">
                        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                    </svg>
                </div>
            </header>
            <section class="bg-light py-10" id="introduction">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold; ">소개</h2>
                            <div class="text-center"><p class="lead mb-5">‘마켓컬리’를 벤치마킹 한 의류판매 소핑몰 구현하였습니다.<br>
                                webSocket을 통한 챗봇 상담 기능을 추가하였습니다.
                            </p></div>
                        </div>
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold;">프로젝트 기능</h2>
                            <div class="text-center"><p class="lead mb-5">회원가입 및 소셜 로그인<br>
                                주문, 장바구니, 공지사항 CRUD 등
                            </p></div>
                        </div>
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold;">기간 / 인원</h2>
                            <div class="text-center"><p class="lead mb-5">2023.08~2023.09 (약 1달)<br>
                                총 5 -> 3인
                            </p></div>
                        </div>
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold;">개인기여</h2>
                            <div class="text-center"><p class="lead mb-5">쇼핑몰 공지사항 / 댓글 CRUD<br>

                            </p></div>
                        </div><br>
                        <div class="col-lg-8" id="project">
                            <img class="img-fluid shadow rounded-3 mb-2" style="height: auto;"
                                 src="/assets/img/project/project1CRUD.gif"/>
                            <div class="small muted font-italic text-center mb-5">
                                프로젝트에서는 공지사항 게시글 / 댓글 CURD와<br>

                                글 작성자와 현재 접속자를 비교하여 알맞은 권한 설정을
                                하였습니다.

                            </div>
                            <img class="img-fluid shadow rounded-3 mb-2"
                                 src="/assets/img/project/project1Chatbot.gif"/>
                            <div class="small muted font-italic text-center mb-5">웹 소켓을 이용한 챗봇 기능입니다.<br><br>
                                WebSocket은 클라이언트와 서버(브라우저 서버)를 연결하고 실시간으로<br>
                                통신이 가능하도록 하는 기술입니다.<br>
                                HTTP에서 발생하는 것처럼 별도의 요청을 하지 않고도 데이터를 수신가능<br>
                                데이터가 서버에서 클라이언트로 ‘푸시‘ 되므로, 실시간 업데이트에 효과적입니다.
                            </div>

                            <hr class="my-5"/>
                            <div class="text-center"><a class="btn btn-transparent-dark fw-500"
                                                        href="#">맨 위로</a></div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-dark">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                         fill="currentColor">
                        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                    </svg>
                </div>
            </section>
        </main>
    </div>
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="footer-brand">Back-End Developer Yang-Hyeon Kim</div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
