<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Project2/3 - 프리랜서 / 업체 연결 에이전시</title>
    <link href="css/styles.css" rel="stylesheet"/>
    <link rel="icon" type="image/x-icon" href=""/>
    <script data-search-pseudo-elements defer
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.min.js"
            crossorigin="anonymous" defer></script>
</head>
<body>
<div id="layoutDefault">
    <div id="layoutDefault_content">
        <main>
            <!-- Navbar-->
            <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light">
                <div class="container px-5">
                    <a class="navbar-brand text-dark" href="/index">PortFolio</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation"><i data-feather="menu"></i></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto me-lg-5">
                            <li class="nav-item"><a class="nav-link" href="/index">메인페이지</a></li>
                            <li class="nav-item dropdown dropdown-xl no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownDemos" href="#introduction" >
                                    소개
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown dropdown-xl no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownPages" href="#project">
                                    프로젝트
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>

                            </li>
                            <li class="nav-item dropdown no-caret">
                                <a class="nav-link dropdown-toggle" id="navbarDropdownDocs" href="#" role="button"
                                   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    다른 프로젝트
                                    <i class="fas fa-chevron-right dropdown-arrow"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end animated--fade-in-up"
                                     aria-labelledby="navbarDropdownDocs">
                                    <a class="dropdown-item py-3"
                                       href="/project1">
                                        <div class="icon-stack bg-primary-soft text-primary me-4"><i
                                                data-feather="shopping-cart"></i></div>
                                        <div>
                                            <div class="small text-gray-500">Project1</div>
                                            마켓컬리
                                        </div>
                                    </a>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item py-3"
                                       href="/project2-3">
                                        <div class="icon-stack bg-primary-soft text-primary me-4"><i
                                                data-feather="users"></i></div>
                                        <div>
                                            <div class="small text-gray-500">Project2-3</div>
                                            프리랜서 / 업체 연결 에이전시
                                        </div>
                                    </a>
                                    <div class="dropdown-divider m-0"></div>
                                    <a class="dropdown-item py-3"
                                       href="/movingMate">
                                        <div class="icon-stack bg-primary-soft text-primary me-4"><i
                                                data-feather="box"></i></div>
                                        <div>
                                            <div class="small text-gray-500">MovingMate</div>
                                            이삿짐 센터 프로젝트
                                        </div>
                                    </a>
                                </div>
                            </li>
                        </ul>
                        <a class="btn fw-500 ms-lg-4 btn-teal" href="https://github.com/yyy2724/project2-3">
                            프로젝트 주소
                            <i class="ms-2" data-feather="arrow-right"></i>
                        </a>
                    </div>
                </div>
            </nav>
            <!-- Page Header-->
            <header class="page-header-ui page-header-ui-dark bg-img-cover overlay overlay-60"
                    style="background-image: url('/assets/img/project/project2-3.png')">
                <div class="page-header-ui-content position-relative">
                    <div class="container px-5 text-center">
                        <div class="row gx-5 justify-content-center">
                            <div class="col-lg-8">
                                <h1 class="page-header-ui-title mb-3">Project2-3</h1>
                                <p class="page-header-ui-text mb-0">프리랜서 / 업체 연결 에이전시</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-light">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                         fill="currentColor">
                        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                    </svg>
                </div>
            </header>
            <section class="bg-light py-10" id="introduction">
                <div class="container px-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold; ">소개</h2>
                            <div class="text-center"><p class="lead mb-5">프리랜서와 회사를 연결하는 중개 에이전시 프로젝트 입니다.<br>
                            </p></div>
                        </div>
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold;">프로젝트 기능</h2>
                            <div class="text-center"><p class="lead mb-5">계약서 작성, 결제 처리 및 금융 관련<br>
                                서비스를 제공
                            </p></div>
                        </div>
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold;">기간 / 인원</h2>
                            <div class="text-center"><p class="lead mb-5">2023.09~2023.10 (약 1달)<br>
                                총 6인
                            </p></div>
                        </div>
                        <div class="col-lg-6">
                            <h2 style="text-align: center; font-weight: bold;">개인기여</h2>
                            <div class="text-center"><p class="lead mb-5">로그인, 이메일 인증, 비밀번호 재설정, <br>
                                권한별 LIST, 로그인&회원가입 디자인
                            </p></div>
                        </div>
                        <div class="col-lg-8">
                            <img class="img-fluid shadow rounded-3 mb-2" style="height: auto;"
                                 src="/assets/img/project/project2mailCheck.gif"/>
                            <div class="small muted font-italic  mb-5"><br>
                                <h2 style="font-weight: bold">이메일 인증</h2>
                                JavaMailHandler 클래스는 이메일 주로 이메일 발송, 수신, 첨부 파일 처리, <br>
                                이메일 템플릿을 사용한 메시지 작성 등과 관련된 작업들을 처리 할 수 있습니다. <br>
                                이 프로젝트에서는 인증번호 발송에 사용하였습니다. <br>
                                글 작성자와 현재 접속자를 비교하여 알맞은 권한 설정을
                                하였습니다.<br><br><br>
                                <h2 style="font-weight: bold">우편번호 API</h2>
                                카카오에서 제공하는 우편번호 API를 통하여 더 편리하게<br>
                                주소정보를 입력하도록 구현하였습니다.<br><br><br>

                                <h2 style="font-weight: bold">동작제어</h2>
                                JavaScript의 기능을 사용하여 이메일 미인증, 중복 이메일, <br>
                                잘못된 인증번호 입력 등의 회원가입 조건 미충족시 회원가입이 <br>
                                불가능 하도록 구현하였습니다.<br><br><br>

                            </div>
                            <img class="img-fluid shadow rounded-3 mb-2"
                                 src="/assets/img/project/project2pwSearch.gif"/>
                            <div class="small muted font-italic mb-5"><br>
                                <h2 style="font-weight: bold">인증</h2>
                                회원가입과 같이 이메일을 인증하여 비밀번호 재설정 페이지에 진입합니다.<br><br><br>
                                <h2 style="font-weight: bold">비밀번호 변경</h2>
                                새로운 비밀번호를 입력하고 비밀번호를 재입력하여 확인합니다.<br>
                                두 비밀번호가 같지 않다면, 재설정이 되지 않습니다.<br>
                                이러한 동작들은 JavaScript를 사용하여 제어하였습니다.<br><br><br>
                            </div>
                            <img class="img-fluid shadow rounded-3 mb-2"
                                 src="/assets/img/project/project2OAuth2.0.gif"/>
                            <div class="small muted font-italic mb-5"><br>
                                <h2 style="font-weight: bold">Spring Security</h2>
                                spring 기반의 애플리케이션에서 보안을 처리하기 위한 프레임워크입니다.<br>
                                주로 웹 애플리케이션에서 사용되며, 사용자 인증(Authentication) 및 권한 부여(Authorization)와 관련된 다양한 보안 기능을 제공합니다.<br>
                                이 프로젝트에는 페이지 권한 설정과 로그인에 사용되었습니다..<br><br><br>

                                <h2 style="font-weight: bold">OAuth2.0</h2>
                                웹 및 애플리케이션에서 서비스의 허가된 접근을 위한 업계 표준 인증 프로토콜입니다.<br>
                                OAuth 2.0은 사용자가 자신의 데이터에 대한 다른 서비스나 애플리케이션에 대한 제한된 액세스 권한을 부여하는 데 사용됩니다.<br>
                                OAuth2.0 으로 모든 정보를 가져올 수 없으니 추가 정보를 입력해야 합니다.<br><br><br>

                            </div>
                            <img class="img-fluid shadow rounded-3 mb-2"
                                 src="/assets/img/project/project2Chatbot.png"/>
                            <div class="small muted font-italic mb-5"><br>
                                <h2 style="font-weight: bold">Weather API</h2>
                                날씨 정보를 얻기 위해 사용되는 웹 API입니다.<br>
                                이 API를 통해 날씨 관련 데이터를 요청하고 응답받을 수 있습니다. <br>
                                다양한 날씨 API가 존재하며, 각각의 API는 특정 서비스 또는 날씨 데이터 제공 업체에서 제공하는 정보에 기반하고 있습니다.<br><br><br>

                            </div>

                            <hr class="my-5"/>
                            <div class="text-center"><a class="btn btn-transparent-dark fw-500"
                                                        href="#">맨 위로</a></div>
                        </div>
                    </div>
                </div>
                <div class="svg-border-rounded text-dark">
                    <!-- Rounded SVG Border-->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none"
                         fill="currentColor">
                        <path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path>
                    </svg>
                </div>
            </section>
        </main>
    </div>
    <div id="layoutDefault_footer">
        <footer class="footer pt-10 pb-5 mt-auto bg-dark footer-dark">
            <div class="container px-5">
                <div class="row gx-5">
                    <div class="col-lg-3">
                        <div class="footer-brand">Back-End Developer Yang-Hyeon Kim</div>
                    </div>
                </div>

            </div>
        </footer>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
<script src="js/scripts.js"></script>
</body>
</html>
